<header>
	<div id="logo">
		<h1>News<span id="iisrt"><span id="ii">II</span>  <span id="srt"><%= appName %></span></span></h1>
		<div id="tagline">
			<h2>Best news for you!</h2>
		</div>
	</div>
	<%= include menu-top.ejs %>
</header>
