<div id="sidebar">
	<aside>
		<h1>Recent Posts</h1>
		<ul>
			<li><a href="#">Suspendisse Enim Elit Tempor Acer</a></li>
			<li><a href="#">Mauris Sed Lectus Duieleifend Quis Sem</a></li>
			<li><a href="#">Suspendisse Enim Elit Tempor Acer Fermentum Vulputate</a></li>
			<li><a href="#">Mauris Sed Lectus Duieleifend Quis Sem</a></li>
		</ul>
	</aside>
	<aside>
		<div id="cat">
			<h1>Categories</h1>
			<ul>
				<li><a href="#">Webdesign</a>
				<li><a href="#">Javascript</a>
				<li><a href="#">Tutorials</a>
				<li><a href="#">Freebies</a>
				<li><a href="#">Wordpress</a>
				<li><a href="#">HTML/CSS</a>
			</ul>
		</div>
		<div id="archives">
			<h1>Archives</h1>
			<ul>
				<li><a href="#">November 2012</a>
				<li><a href="#">December 2012</a>
				<li><a href="#">January 2013</a>
			</ul>
		</div>
	</aside>
</div>
