<footer >
	<div class="row dline"></div>
	<%= include menu-footer.ejs %>
	<p>
		<%= __('Copyright') %> &copy 2018 <a href="http://github.com/eagle7410"><%= __('Igor Stcherbina') %></a>.
		<%= __('All Rights Reserved') %>.
	</p>
</footer>
