<head>
	<meta charset="utf-8"/>
	<link rel="icon" type="static/image/png" sizes="96x96" href="/static/images/favicon.png">
	<title><%= appName %></title>
	<!--Don't be white blink -->
	<style>body {background: #000}</style>
</head>
