<% layout(`../../layouts/${theme}/home`) %>
<h1><%= __('contacts') %></h1>
<div class="row">
	<div class="col-lg-6">
		<section id="contact">
			<div class="row">
				<h4><%= __('Phones of the company') %> :</h4>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>+380501234567</p>
					<p>+380511234567</p>
					<p>+380521234567</p>
				</div>
			</div>

			<div class="row">
				<h4><%= __('Addresses of the company') %> :</h4>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>Ukraine, Kiev, st. Mihaila Grushevskogo, 5</p>
					<p>USA, Washington DC, 1600 Pennsylvania Avenue</p>
					<p>United Kingdom, Westminster, London SW1A 1AA</p>
				</div>
			</div>
		</section>
	</div>
</div>








