<h1><%= __('registration') %></h1>
<div class="alert alert-success">
	<p>
		<%= __('A letter has been sent to you by email. In which the link to confirm the registration.') %><br/>
		<%= __('The link will be valid for 4 hours') %>
	</p>
	<p><%= __('Sincerely Cool service') %></p>
</div>

